corenlp filter=lfs diff=lfs merge=lfs -text
corenlp/ejml-0.23-src.zip filter=lfs diff=lfs merge=lfs -text
corenlp/joda-time-2.9-sources.jar filter=lfs diff=lfs merge=lfs -text
corenlp/LIBRARY-LICENSES filter=lfs diff=lfs merge=lfs -text
corenlp/StanfordCoreNlpDemo.java filter=lfs diff=lfs merge=lfs -text
corenlp/javax.json.jar filter=lfs diff=lfs merge=lfs -text
corenlp/jollyday.jar filter=lfs diff=lfs merge=lfs -text
corenlp/sutime filter=lfs diff=lfs merge=lfs -text
corenlp/xom-1.2.10-src.jar filter=lfs diff=lfs merge=lfs -text
corenlp/Makefile filter=lfs diff=lfs merge=lfs -text
corenlp/javax.json-api-1.0-sources.jar filter=lfs diff=lfs merge=lfs -text
corenlp/stanford-corenlp-3.9.1-javadoc.jar filter=lfs diff=lfs merge=lfs -text
corenlp/stanford-corenlp-3.9.1-sources.jar filter=lfs diff=lfs merge=lfs -text
corenlp/StanfordDependenciesManual.pdf filter=lfs diff=lfs merge=lfs -text
corenlp/jollyday-0.4.9-sources.jar filter=lfs diff=lfs merge=lfs -text
corenlp/protobuf.jar filter=lfs diff=lfs merge=lfs -text
corenlp/slf4j-api.jar filter=lfs diff=lfs merge=lfs -text
corenlp/start.sh filter=lfs diff=lfs merge=lfs -text
corenlp/tokensregex filter=lfs diff=lfs merge=lfs -text
corenlp/patterns filter=lfs diff=lfs merge=lfs -text
corenlp/pom.xml filter=lfs diff=lfs merge=lfs -text
corenlp/input.txt.xml filter=lfs diff=lfs merge=lfs -text
corenlp/SemgrexDemo.java filter=lfs diff=lfs merge=lfs -text
corenlp/ejml-0.23.jar filter=lfs diff=lfs merge=lfs -text
corenlp/joda-time.jar filter=lfs diff=lfs merge=lfs -text
corenlp/stanford-corenlp-3.9.1-models.jar filter=lfs diff=lfs merge=lfs -text
corenlp/RESOURCE-LICENSES filter=lfs diff=lfs merge=lfs -text
corenlp/input.txt filter=lfs diff=lfs merge=lfs -text
corenlp/build.xml filter=lfs diff=lfs merge=lfs -text
corenlp/corenlp.sh filter=lfs diff=lfs merge=lfs -text
corenlp/slf4j-simple.jar filter=lfs diff=lfs merge=lfs -text
corenlp/xom.jar filter=lfs diff=lfs merge=lfs -text
corenlp/CoreNLP-to-HTML.xsl filter=lfs diff=lfs merge=lfs -text
corenlp/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
corenlp/stanford-corenlp-3.9.1.jar filter=lfs diff=lfs merge=lfs -text
corenlp/README.txt filter=lfs diff=lfs merge=lfs -text
corenlp/ShiftReduceDemo.java filter=lfs diff=lfs merge=lfs -text
